.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 2;
    background: #050203;
  }
  
  .first {
    top: 0;
  }
  
  .second {
    top: 33.3%
  }
  
  .third {
    top: 66.6%;
  }