 .demo-wrapper::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
  }
.demo-wrapper {
  overflow-x: hidden;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
 
  h1 { font-size: 5rem }
  h2 { font-size: 2rem }

  .demo-text {
    .text {
        // font-size: clamp(8rem, 15vw, 16rem);
        font-size: 200px;
        line-height: 1;
        font-weight: 700;
        color: #FFFFFF;
        @media (max-width: 1024px) {
          font-size: 150px;
        }
        @media (max-width: 767px) {
          font-size: 100px;
        }
        @media (max-width: 550px) {
          font-size: 80px;
        }
      }
    .textone {
        transform: translate(-3669px, 0px)
    }
    .texttwo {
        transform: translate(100%, 0px)
    }
  }

  .demo-gallery {
    ul {
        // padding-left: 1rem;
        list-style: none;
        
        li {
            flex-shrink: 0;
            width: clamp(500px, 50vw, 700px);
            // width: 600px;
            margin-right: 1rem;
            img {
                width: 100%;
            }
        }
      }
    .wrapperr {
        display: flex;
      }
    .ulone {
        transform: translate(100%, 0px)
    }
    .ultwo {
        transform: translate(-3216px, 0px)
    }
    // .ulthree {
    //     transform: translate(100%, 0px)
    // }
    // .ulfour {
    //     transform: translate(-3416px, 0px)
    // }
    
  }
//   .demo-gallery:not(.last) {
//     padding-bottom: 1rem;
//   }
}