@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,600,800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

$light: #fffbf4;
$deep: #f3eee8;
$deep1: #f3efe9;
$deep2: #c2bdb2;
$deepBorder: #f0ede6;
$black: #191919;
$linkText: #969696;

$bg-black: #050203 ;
$rc-black: #0A0A0A;
$txt-white: #FFFFFF;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    background: $bg-black;
}
body.hide-scrolling {
  overflow-y: hidden;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  .wrapper {
    padding: 0 10px;
    .home {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      p {
        font-size: 0.75rem;
        letter-spacing: 0.3rem;
        text-transform: uppercase;
        font-weight: 500;
      }
      h5 {
        font-size: 24px;
        font-weight: 600;
        // padding-right: 360px;
      }
    }
  }
}

header {
  height: 100px;
  .inner-header {
    position: relative;
    z-index: 10;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo a {
      font-weight: 700;
      font-size: 1rem;
      text-decoration: none;
      color: $txt-white;
    }
    .logo a.textblack {
      color: $bg-black !important;
    }
    .menu {
      button {
        border: none;
        background: none;
        outline: none;
        cursor: pointer;
        font-size: 0.8rem;
        color: $txt-white;
        mix-blend-mode: difference;
      }
      button.textblack {
        color: $bg-black !important;
      }
    }
  }
  .hamburger-menu {
    display: none;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    height: 100%;
    width: 100%;
    .menu-secondary-background-color {
      background: $txt-white;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: fixed;
      height: 100%;
      width: 100%;
      z-index: -1;
    }
    .menu-layer {
      position: relative;
      background: $bg-black;
      height: 100%;
      overflow: hidden;
      .menu-city-background {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;
        height: 100%;
        width: 100%;
        opacity: 0;
        background-size: cover;
        background-repeat: no-repeat;
        animation-name: backgroundEffect;
        animation-duration: 30s;
        animation-iteration-count: infinite;
      }
      .wrapper {
        position: relative;
        .menu-links {
          display: flex;
          justify-content: space-between;
          align-items: center;
          position: relative;
          top: 150px;

          @media (max-width: 751px) {
            flex-direction: column;
          }
          nav {
            display: block;
            ul {
              margin: 0;
              padding: 0;
              li {
                list-style: none;
                font-size: 6rem;
                font-weight: 700;
                cursor: pointer;
                height: 135px;
                overflow: hidden;
                position: relative;
                width: 700px;

                @media (max-width: 1024px) {
                  font-size: 5rem;
                  width: 600px;
                }
                @media (max-width: 855px) {
                  font-size: 4rem;
                  width: 500px;
                }
                @media (max-width: 750px) {
                  font-size: 3rem;
                  width: 400px;
                  height: 100px;
                }
                @media (max-width: 500px) {
                  font-size: 2.5rem;
                  width: 300px;
                  height: 100px;
                }
                @media (max-width: 330px) {
                  font-size: 2rem;
                  width: 300px;
                  height: 100px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                }
                a {
                  position: absolute;
                  color: $txt-white;
                  text-decoration: none;
                  &:hover {
                    color: $deep2;
                  }
                }
              }
            }
          }
          .info {
            color: $txt-white;
            width: 300px;

            // @media (max-width: 751px) {
            //   margin-top: 1rem;
            // }
            h3 {
              font-size: 1.2rem;
              margin: 8px auto;
            }
            p {
              margin: 0 auto;
              font-size: 0.8rem;
              font-weight: 500;
              letter-spacing: 0.2rem;
            }
          }
        }
        .locations {
          position: absolute;
          bottom: -40px;
          color: #fff;
          margin-top: 16px;
          font-size: 0.8rem;
          font-weight: 600;

          @media (max-width: 695px) {
            display: none;
            bottom: -80px;
          }
          span {
            cursor: pointer;
            // &:first-child {
            //   margin-left: 64px;
            // }
            font-weight: 400;
            margin: 0 32px;
            transition: 0.3s ease-in-out;

            @media (max-width: 695px) {
              margin-top: 8px;
            }

            &:hover {
              color: #fff;
              background: $black;
              padding: 8px 24px;
              border-radius: 4px;
            }
          }
        }
      }
    }
  }
}


//============================= HOME PAGE =======================================
.homePage {
  .first {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url('./images/01.jpg') center center;
    background-repeat: no-repeat;
    animation-name: backgroundEffect;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    @media (max-width: 767px) {
      background-size: cover;
    }
    .text {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 70%;
      color: $txt-white;
      @media (max-width: 300px) {
        width: 90%;
      }

      .subtitle {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
      }
      .subtitle::before {
        display: inline-block;
        content: "";
        border: 2px solid #fff;
        width: 80px;
        margin: 0 10px 0 0;
        transform: translateY(-4px);
      }
      .title {
        margin: 0 !important;
        font-size: 120px;
        text-transform: uppercase;
        width: 0%;
        overflow: hidden;
        white-space: nowrap;
        @media (max-width: 640px) {
          font-size: 100px;
        }
        @media (max-width: 500px) {
          font-size: 80px;
        }
        @media (max-width: 400px) {
          font-size: 60px;
        }
        @media (max-width: 300px) {
          font-size: 40px;
        }
        @media (max-width: 250px) {
          font-size: 30px;
        }
      }
      .desc {
        margin: 0;
        letter-spacing: 0.3rem;
        line-height: 2;
        @media (max-width: 640px) {
          margin-top: 30px;
        }
        @media (max-width: 300px) {
          font-size: small;
        }
      }
      .readmore {
        display: inline-block;
        margin-top: 20px;
        color: $txt-white;
        border-bottom: 1px solid $txt-white;
        text-decoration: none;
        text-transform: uppercase;
        padding-bottom: 3px;
        font-weight: bolder;
      }
    }
  }
  .second {
    height: 100vh;
    display: flex;
    align-items: center;
    background: $bg-black;
    @media (max-width: 767px) {
      flex-direction: column;
      justify-content: center;
      padding: 1rem 0;

    }
    .div-vid {
      width: 50%;
      height: 80vh;
      padding: 0;
      @media (max-width: 767px) {
        width: 100%;
        height: 50vh;
        margin-bottom: 1rem;
      }
      @media (max-width: 330px) {
        height: 45vh;
      }
      @media (max-width: 253px) {
        height: 40vh;
      }
      @media (max-width: 227px) {
        height: 30vh;
      }
      video {
        width: 100%;
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        @media (max-width: 767px) {
          object-fit: cover;
          object-position: center;
        }
      }
    }
    .div-desc {
      width: 50%;
      height: 80vh;
      padding: 0 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (max-width: 767px) {
       width: 100%;
       height: 45vh;
       padding: 0;
      }
      @media (max-width: 330px) {
        height: 50vh;
      }
      @media (max-width: 253px) {
        height: 55vh;
      }
      @media (max-width: 227px) {
        height: 65vh;
      }
      h2 {
        font-size: 30px;
        font-family: 'Anton', sans-serif;
        line-height: 1.2;
        letter-spacing: 0.01em;
        font-weight: bold;
        color: $txt-white;

        @media (max-width: 767px) {
          margin: 0;
          font-size: 25px;
        }
        @media (max-width: 450px) {
          font-size: 20px;
        }
        @media (max-width: 380px) {
          font-size: 17px;
        }
      }
      p {
        color: $txt-white;
        font-size: 15px;
        // font-family: 'Libre Baskerville', serif;
        font-weight: 500;
        line-height: 1.67;
        letter-spacing: 0.01em;
        @media (max-width: 767px) {
          font-size: 13px;
          margin-top: 2rem;
          line-height: 1.7;
        }
        @media (max-width: 380px) {
          margin-top: 1rem;
        }
        @media (max-width: 330px) {
          line-height: 1.5;
        }
      }
    }
  }
  .third {
    height: 100vh;
    display: flex;
    background: $bg-black;
    @media (max-width: 900px) {
      display: block;
    }
    .left-pane {
      margin-right: 1rem;
      position: relative;
      height: 100vh;
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      color: $txt-white;
      background: url('./images/jean.jpeg') center center;
      background-repeat: no-repeat;
      background-size: cover;
      transition: background-color 1s;
       @media (max-width: 1234px) {
        width: 100%;
        margin-right: 0;
      }
   
      &:hover {
        background-color: rgba(0,0,0,.5);
      }
    .div {
      text-align: center;
      padding: 1rem;

      h1 {
        font-size: 40px;
        @media (max-width: 280px) {
          font-size: 30px;
        }
      }
      p {
        margin: 0 0 1rem;
        font-weight: 500;
        letter-spacing: 0.3rem;
        line-height: 2;
      }
    }
    }
    .left-pane:before {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;
      background-color: inherit;
      content: ' ';
    }
    .right-pane {
      height: 100vh;
      width: 40%;
      display: flex;
      flex-direction: column;
      @media (max-width: 1234px) {
        display: none;
      }
      // @media (max-width: 900px) {
      //   display: none;
      // }
      .stack:before {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        background-color: inherit;
        content: ' ';
      }
      .stack {
          position: relative;
          height: 50vh;
          display: flex;
          align-items: center;
          justify-content: center;
          background-repeat: no-repeat !important;
          transition: background-color 1s;
        
        &:hover {
        background-color: rgba(0,0,0,.5);
        }
        h1 {
          font-size: 40px;
          letter-spacing: 0.3rem;
          color: $txt-white;
        }
      }
      .stack-div1 {
      margin-bottom: 1rem;
      background: url('./images/06.jpeg') center center;
      background-size: cover;
      }
      .stack-div2 {
      background: url('./images/lingerie.jpg') center center;
      background-size: cover;
      
      }
    }
  }

  .fourth {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: $bg-black;
    color: $txt-white;

    .top {
      height: 40%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      @media (max-width: 767px) {
        height: 30%;
      }
      @media (max-width: 550px) {
        height: 25%;
      }
      @media (max-width: 360px) {
        height: 20%;
      }
      @media (max-width: 305px) {
        height: 15%;
      }
      h1 {
        margin: 0;
        font-size: 200px;
        color: $txt-white;

        @media (max-width: 1024px) {
          font-size: 150px;
        }
        @media (max-width: 767px) {
          font-size: 100px;
        }
        @media (max-width: 550px) {
          font-size: 80px;
        }
        @media (max-width: 407px) {
          font-size: 60px;
        }
        @media (max-width: 320px) {
          font-size: 40px;
        }
        @media (max-width: 289px) {
          font-size: 35px;
        }
      }
    }
    .down {
      height: 50%;
      display: flex;
      padding: 0 2rem;
      align-items: center;
      justify-content: center;
      border-color: $txt-white;
      border-style: solid;
      border-width: .0625rem 0;
      @media (max-width: 900px) {
        flex-wrap: wrap;
      }
      @media (max-width: 767px) {
        height: 65%;
      }
      @media (max-width: 550px) {
        height: 70%;
      }
      @media (max-width: 360px) {
        height: 75%;
      }
      @media (max-width: 305px) {
        height: 80%;
        padding: 0 1rem;
      }
      .avail-services {
        width: 33.3%;
        margin: 20px 0 0 20px;
        padding: 3rem;
        text-align: center;
        @media (max-width: 900px) {
          width: 45%;
          padding: 0;
        }
        @media (max-width: 550px) {
          width: 100%;
          margin-left: 0;
        }
        @media (max-width: 289px) {
          margin: 10px 0 0 10px;
        }
        h4 {
          font-size: 15px;

        }
        p {
          font-size: 13px;
          font-family: 'Libre Baskerville', serif;
          line-height: 1.8;
          color: $txt-white;
        }
      }
    }
  }

  .fifth {
    margin: 1rem 0;
    height: 100vh;
    background: $bg-black;
  }
}

//============================= END OF HOME PAGE =======================================

//============================= ABOUT PAGE =======================================
.aboutPage {
  .parallax {
    margin-top: -100px;
    height: 100vh;
    display: flex;
    justify-content: center;
    background: url('./images/about-img.jpg');
    background-position: 50% 0px;
    background-repeat: no-repeat;
    background-size: cover;
    vertical-align: middle;

    .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      color: $txt-white;

      h1 {
        margin: 0;
        margin-top: 3rem;
        font-size: 200px;
        @media (max-width: 1024px) {
          font-size: 150px;
        }
        @media (max-width: 767px) {
          font-size: 110px;
        }
        @media (max-width: 550px) {
          margin-top: 5rem;
          font-size: 80px;
        }
        @media (max-width: 407px) {
          font-size: 60px;
        }
        @media (max-width: 320px) {
          font-size: 40px;
        }
        @media (max-width: 289px) {
          font-size: 35px;
        }
      }

      p {
        font-size: 1.2rem;
        font-weight: 600;
        @media (max-width: 375px) {
          text-align: center;
          font-size: 1rem;
        }
      }
    }

  }

  .second {
    .text-desc {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      color: $txt-white;

      h2 {
        display: block;
        span {
        font-size: 3rem;
        font-weight: 700;
        font-family: 'Roboto', sans-serif;
        height: 200px;
        line-height: 1.3;
        overflow: hidden;
        position: relative;

        @media (max-width: 1024px) {
          font-size: 2.8rem;
        }
        @media (max-width: 957px) {
          font-size: 2.6rem;
        }
        @media (max-width: 898px) {
          font-size: 2.4rem;
          
        }
        @media (max-width: 834px) {
          font-size: 2.2rem;
        }
        @media (max-width: 767px) {
          font-size: 2rem;
        }
        @media (max-width: 700px) {
          font-size: 1.8rem;
        }
        @media (max-width: 640px) {
          font-size: 1.5rem;
        }
        }
        
      }
      h2.sec {
        margin-top: 2rem;
      }
    }
  }
}
//============================= END OF ABOUT PAGE =======================================

@keyframes backgroundEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 40% 10%;
  }
  50% {
    background-position: 0 10%;
  }
  75% {
    background-position: 10% 40%;
  }
  100% {
    background-position: 0% 0%;
  }
}

//============================================

